.profilr {
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    display: flex;
    padding: 10px;
    border:1px solid rgb(223, 221, 220);
}
.navmarg{
    margin: 0px;
}
.dropdown {
    position: absolute;
    display: flex;
    right: 0;
    z-index: 1
}
.dropdown li{
    display: flex;
   
    cursor: pointer
    ;gap: 5px;
    
}
.dropdown li p{
    margin-right: 20px;
}
.dropdown li img{
    width: 20px;
    height: 25px;
}

.dropdown li:hover{
color: tomato;
}
.smscreen{
    justify-content: center;
    
    margin: 5px 5vw 10PX 6vw;

}

@media screen and (max-width: 900px) {
    .sm {
        display: none;
    }
   
}
@media screen and (min-width: 900px) {
    .profilr {
        cursor: pointer;
        position: relative;
        margin-top: 5px;
        border: none;
        }
        .sm1{display: none;}
        .dropdown li{
        margin: -3px;
    }
    .dropdown {
       display: flex;

        display: none;
    }
    .profilr:hover .dropdown{
        display: flex;
        flex-direction: column;
        margin-top: 32px;
       
        background-color: #fff2ef;
        padding: 10px 20px;
        border-radius: 4px;
        border: 1px solid tomato;
        outline: 2px solid white;
        list-style: none;
    }
    .navmarg{
        margin: 0px  30px 0 25px;
    }
    .smscreen{
        display: none;
    }
  }