.add{
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add input{
    border: 2px solid #d7d4d4;
   }

.add p{
    padding: 10px 0 0px 0;
    margin-bottom: 6px;
}
.add form{
    gap: 20px;
}

.add-img-upload   img{
width: 120px;
}

.add-product-name  .add-product-description {
width: max(40% , 280px);
}
.add-product-name input , .add-product-description    textarea{
    padding: 6px;
    width: 250px;
}
.add-category-price{

     display: flex;
     gap: 30px;
}
.add-category-price select , .add-category-price input {
    max-width: 120px;
    padding: 7px;
}

.add-btn{
    max-width: 120px;
    border: none;
    padding: 6px;
    background-color: black;
    color: white;
    margin-top: 16px;
    width:  150px;
    border-radius: 5px;
    margin-bottom: 10px;
}